{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": ["testing-library"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:jest/recommended",
    "plugin:jest/style",
    "prettier"
  ],
  "overrides": [
    {
      "files": ["**/__tests__/**/*.[jt]s?(x)", "**/?(*.)+(spec|test).[jt]s?(x)"],
      "extends": ["plugin:testing-library/react"]
    }
  ],
  "rules": {
    "no-undef": "off",
    "no-unused-vars": 0,
    "no-console": [2, { "allow": ["warn", "error", "info"] }]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "globals": {
    "SystemJS": "readonly",
    "System": "readonly",
    "module": "readonly",
    "global": "writable",
    "__webpack_public_path__": "writable",
    "__webpack_require__": "readonly"
  }
}
